[submodule "External/Essence"]
	path = External/Essence
	url = https://github.com/KenM4sters/Essence.git
[submodule "External/GoogleTest"]
	path = External/GoogleTest
	url = https://github.com/google/googletest.git
